* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #1e293b;
  background: #ffffff;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


.navbar {
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo img {
  height: 40px;
}

nav a {
  margin-left: 24px;
  text-decoration: none;
  color: #334155;
  font-weight: 500;
}

/* BUTTONS */
.btn {
  background: #22c55e;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  border: 2px solid #22c55e;
  color: #22c55e;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-small {
  padding: 8px 14px;
}


.hero {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.75);
}

.hero-content {
  position: relative;
  color: white;
  max-width: 700px;
}

.badge {
  background: #22c55e;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.hero h1 {
  font-size: 48px;
  margin: 20px 0;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.problems {
  padding: 80px 0;
  text-align: center;
}

.problem-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.problem-card {
  background: #f8fafc;
  padding: 30px;
  border-radius: 12px;
}

.problem-card img {
  width: 40px;
  margin-bottom: 16px;
}
.solution-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.solution-graphic {
  position: relative;
  height: 400px;
}

.center-brain {
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  width: 60px;
}

.top { top: 0; left: 50%; transform: translateX(-50%); }
.left { left: 0; top: 50%; transform: translateY(-50%); }
.right { right: 0; top: 50%; transform: translateY(-50%); }
.bottom-left { bottom: 0; left: 25%; }
.bottom-right { bottom: 0; right: 25%; }

.cta {
  background: #f1f5f9;
  padding: 80px 0;
  text-align: center;
}


.footer {
  background: #020617;
  color: #94a3b8;
  padding: 40px 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  height: 32px;
}

.socials img {
  margin-left: 12px;
  width: 20px;
}

copyright {
  text-align: center;
}